page-register {

}
.c{
    margin: 50px 0 10px 50px;
    width: 250px;
    border-bottom: white 1px solid;
}
.register-d{
    margin: 0 0 10px 50px;
    width: 130px;
    border-bottom: white 1px solid;
    float: left;
}
.register-e{
    margin: 0 0 10px 50px;
    width: 250px;
    border-bottom: white 1px solid;
}
.aa{
    margin: 0 0 10px 0;
}
.bb{
    width: 250px;
    margin-left: 47px;
    margin-top: 20px;

}
