page-login {
}
.a{
    background-image: url(../assets/imgs/beijing.png);
    width: 375px;
    height: 667px;;
    
}
.b{
    color:antiquewhite;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
p{
    color:antiquewhite;
    text-align: center;
}
.c{
    margin: 50px 0 10px 50px;
    width: 250px;
    border-bottom: white 1px solid;
}
.d{
    width: 250px;
    margin-left: 50px;
    border-bottom: white 1px solid;
}
.e{
    width: 320px;
    margin-left: 10px;
    margin-top: 20px;

}