page-set {
    .back-btn{
        width:10px;
        height:25px;
        margin-top:10px;
        margin-left:15px;
     }
     .title{
        margin-top:-25px;
         color:#000;
     }
     .list1{
         width:100%;
         height:60px;
        //  background-color:red;
         border-bottom:1px solid #eeeeee;
         clear:both;
         margin:0px;
         padding:0px;
     }
     .list-content{
         float:left;
         margin-left:15px;
         line-height: 60px;
         margin-top:0px;
         padding:0px;
         font-size:19px;
     }
     .go-icon{
         float:right;
         margin-right:15px;
         width:13px;
         height:25px;
         margin-top:17px;
     }
     .go-icon1{
        float:right;
        margin-right:15px;
        width:50px;
        height:15px;
        margin-top:17px;
    }

     .clear{
        float:right;
        margin-right:15px;
        color:#b3b3b3;
        font-size:20px;
        margin-top:17px;
    }
    .btn{
        margin-top:50px;
        width:70%;
        height:50px;
        margin-left:15%;
        color:#fff;
        font-size:20px;
        background-color: #fedb47;
        border-radius:60px;
    }
}
