page-message {
    .back-btn{
        width:10px;
        height:25px;
        margin-top:10px;
        margin-left:15px;
     }
     .title{
        //  margin-top:-25px;
         color:#000;
     }
     .touxiang{
         width:50px;
         height:50px;
         border-radius: 25px;
         float:left;
     }
     .name{
         float:left;
         margin-left: 20px;
         color:#000;
         font-size:18px;
     }
     .time{
         float: right;
        //  margin-right:20px;
         margin-top:5px;
     }
     .itemcontent{
        //  clear:both;
         float: left;
         width:80%;
         margin-left:20px;
         font-size:17px;
         
     }
     .itembox{
         width:100%;
        //  background-color:red;
         height:60px;
         margin-top:0px;
         padding:0;
         border-bottom: 1px solid #eeeeee;
     }
     .delbtn{
         background-color: red;
         font-size:19px;
         color:#fff;
         height:60px;
     }
     .topbtn{
        font-size:19px;
        color:#fff;
        height:60px;
     }
     .weidubtn{
        font-size:19px;
        color:#fff;
        background-color: #b3b3b3;
        height:60px;
     }
    
}
